{% extends 'base.html.twig' %}

{% block title %}Card index{% endblock %}

{% block body %}
    <h1>Card index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>Rank</th>
                <th>Number</th>
                <th>Birthdate</th>
                <th>Picture</th>
                <th>Uid</th>
                <th>Legal_text</th>
                <th>Role_type</th>
                <th>To_print</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Rank_picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>{{ card.id }}</td>
                <td>{{ card.firstname }}</td>
                <td>{{ card.lastname }}</td>
                <td>{{ card.role }}</td>
                <td>{{ card.rank }}</td>
                <td>{{ card.number }}</td>
                <td>{{ card.birthdate ? card.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ card.picture }}</td>
                <td>{{ card.uid }}</td>
                <td>{{ card.legalText }}</td>
                <td>{{ card.roleType }}</td>
                <td>{{ card.toPrint ? 'Yes' : 'No' }}</td>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ card.updatedAt ? card.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ card.rankPicture }}</td>
                <td>
                    <a href="{{ path('app.card.show', {'id': card.id}) }}">show</a>
                    <a href="{{ path('app.card.edit', {'id': card.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
