{% extends 'base.html.twig' %}

{% block title %}Cartes{% endblock %}

{% block body %}
    <header>
        <h1 class="h2">Cartes</h1>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th class="key">id</th>
                <th>Titre/grade</th>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>
                    <span class="text-muted text-small">Identifiant Unique</span><br>
                    UID
                </th>
                <th>À imprimer</th>
                <th>Date de création</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <th class="key">{{ card.id }}</th>
                <td>{{ card.rank }}</td>
                <td>{{ card.firstname }}</td>
                <td>{{ card.lastname }}</td>
                <td>{{ card.uid }}</td>
                <td>{{ card.toPrint ? 'Yes' : 'No' }}</td>
                <td>{{ card.createdAt ? card.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td class="flex flex-end" style="gap: 8px">
                    <a href="{{ path('app.card.show', {'id': card.id}) }}" class="btn btn-sm">Afficher</a>
                    <a href="{{ path('app.card.edit', {'id': card.id}) }}" class="btn btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">Aucune carte trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
