{% extends 'base.html.twig' %}

{% block title %}Fonctions{% endblock %}

{% block body %}
    <header>
        <h1 class="h2">Fonctions</h1>
        <a href="{{ path('app.role.new') }}" class="btn-primary btn-small">Nouvelle fonction</a>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th class="key">id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <th class="key">{{ role.id }}</th>
                <td>{{ role.name }}</td>
                <td style="text-align: end">
                    <a href="{{ path('app.role.show', {'id': role.id}) }}" class="btn btn-sm">Afficher</a>
                    <a href="{{ path('app.role.edit', {'id': role.id}) }}" class="btn btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
