{% extends 'base.html.twig' %}

{% block title %}Personnel{% endblock %}

{% block body %}
    <header>
        <h1 class="h2">Personnel</h1>
        <a href="{{ path('app.employee.new') }}" class="btn-primary btn-small">Nouvel employé</a>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th class="key" style="width: 50px">id</th>
                <th>Prénom</th>
                <th>Nom de famille</th>
                <th>Police</th>
                <th>Dernière modification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <th>{{ employee.id }}</th>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.isPolice ? 'Yes' : 'No' }}</td>
                <td>{{ employee.updatedAt ? employee.updatedAt|date('Y-m-d H:i:s') : employee.createdAt|date('d/m/Y H:i:s') }}</td>
                <td class="flex flex-end" style="gap: 8px">
                    <a href="{{ path('app.employee.show', {'id': employee.id}) }}" class="btn btn-sm">Afficher</a>
                    <a href="{{ path('app.employee.edit', {'id': employee.id}) }}" class="btn btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
