{% extends 'base.html.twig' %}

{% block title %}{{ employee }}{% endblock %}

{% block body %}
    <h1 class="h2 title-header"><a href="{{ path('app.employee.index') }}" class="btn-back"> <i data-feather="chevron-left"></i></a> {{ employee }}</h1>
    <div class="card-md layout-sidebar">
        <table>
            <tbody>
            <tr>
                <th class="mono key">Photo</th>
                <td class="mono"><img src="{{ vich_uploader_asset(employee) }}" style="width: 175px" alt="{{ employee }}"></td>
            </tr>
            <tr>
                <th class="mono key">Id</th>
                <td class="mono">{{ employee.id }}</td>
            </tr>
            <tr>
                <th class="mono key">Prénom</th>
                <td class="mono">{{ employee.firstname }}</td>
            </tr>
            <tr>
                <th class="mono key">Nom de famille</th>
                <td class="mono">{{ employee.lastname }}</td>
            </tr>
            <tr>
                <th class="mono key">Matricule</th>
                <td class="mono">{{ employee.badgeNumber ?? "Pas de matricule" }}</td>
            </tr>
            <tr>
                <th class="mono key">Date de naissance </th>
                <td class="mono">{{ employee.birthdate ? employee.birthdate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th class="mono key">Numéro de télépone</th>
                <td class="mono">{{ employee.phoneNumber }}</td>
            </tr>
            <tr>
                <th class="mono key">Adresse email</th>
                <td class="mono">{{ employee.email }}</td>
            </tr>
            <tr>
                <th class="mono key">Police</th>
                <td class="mono">{{ employee.isPolice ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th class="mono key">Date de création</th>
                <td class="mono">{{ employee.createdAt ? employee.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="mono key">Dernière modification</th>
                <td class="mono">{{ employee.updatedAt ? employee.updatedAt|date('d/m/Y H:i:s') : 'Aucune modification enregistrée' }}</td>
            </tr>
            <tr>
                <th class="mono key">Genre</th>
                <td class="mono">{{ employee.gender }}</td>
            </tr>
            </tbody>
        </table>
        <div class="stack">
            <div class="action-container">
                <h4>Versions</h4>
                {% for card in employee.cards %}
                    <a href="#" class="action-item">
                        <span class="icon"><i data-feather="chevron-right"></i></span>
                        <span class="content">
                            <span class="text">Carte de police</span>
                            <span class="details">{{ card.uid }}</span>
                        </span>
                    </a>
                {% else %}
                    <div class="empty-list">
                        <i data-feather="help-circle"></i>
                        <p>Aucune carte crée</p>
                    </div>
                {% endfor %}
            </div>
            <div class="action-container block">
                <a href="{{ path('app.employee.create_card', {'id': employee.id}) }}" class="action-item">
                    <span class="icon"><i data-feather="credit-card"></i></span>
                    <span class="text">Nouvelle carte</span>
                </a>
                <a href="{{ path('app.employee.create_vcard', {'id': employee.id}) }}" class="action-item">
                    <span class="icon"><i data-feather="download"></i></span>
                    <span class="content">
                        <span class="text">Télécharger la vCard</span>
                        <span class="details">(.vcf)</span>
                    </span>
                </a>
                <a href="{{ path('app.employee.edit', {'id': employee.id}) }}" class="action-item">
                    <span class="icon"><i data-feather="edit-2"></i></span>
                    <span class="text">Modifier</span>
                </a>
                {{ include('employee/_delete_form.html.twig') }}

            </div>
        </div>

    </div>
{% endblock %}
