{% extends 'base.html.twig' %}

{% block title %}Rank index{% endblock %}

{% block body %}
    <h1>Rank index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rank in ranks %}
            <tr>
                <td>{{ rank.id }}</td>
                <td>{{ rank.name }}</td>
                <td>{{ rank.value ? rank.value|join(', ') : '' }}</td>
                <td>{{ rank.picture }}</td>
                <td>
                    <a href="{{ path('app.rank.show', {'id': rank.id}) }}">show</a>
                    <a href="{{ path('app.rank.edit', {'id': rank.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app.rank.new') }}">Create new</a>
{% endblock %}
