{% extends 'base.html.twig' %}

{% block title %}Titres et grades{% endblock %}

{% block body %}
    <header>
        <h1 class="h2">Titre et grades</h1>
        <a href="{{ path('app.rank.new') }}" class="btn-primary btn-small">Nouveau titre ou grade</a>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th class="key">id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for rank in ranks %}
            <tr>
                <th class="key">{{ rank.id }}</th>
                <td>{{ rank }}</td>
                <td style="vertical-align: center; text-align: end">
                    <a href="{{ path('app.rank.show', {'id': rank.id}) }}" class="btn btn-sm">Afficher</a>
                    <a href="{{ path('app.rank.edit', {'id': rank.id}) }}" class="btn btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun grade trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
