{% extends 'base.html.twig' %}

{% block title %}{{ rank }}{% endblock %}

{% block body %}
    <h1 class="h2 title-header"><a href="{{ path('app.rank.index') }}" class="btn-back"> <i data-feather="chevron-left"></i></a> {{ rank }}</h1>
    <div class="layout-sidebar">
        <table>
            <tbody>
            <tr>
                <th class="mono key">Insigne</th>
                <td class="mono"><img src="{{ vich_uploader_asset(rank) }}" style="height: 100px" alt="Insigne du grade"></td>
            </tr>
            <tr>
                <th class="mono key">Id</th>
                <td class="mono">{{ rank.id }}</td>
            </tr>
            <tr>
                <th class="mono key">Nom</th>
                <td class="mono">{{ rank.name }}</td>
            </tr>
            <tr>
                <th class="mono key">Non définit</th>
                <td class="mono">
                    {{ rank.value[0] }} <br>
                    {{ rank.abbreviation[0] }}
                </td>
            </tr>
            <tr>
                <th class="mono key">Féminin</th>
                <td class="mono">
                    {{ rank.value[1] }} <br>
                    {{ rank.abbreviation[1] }}
                </td>
            </tr>
            <tr>
                <th class="mono key">Masculin</th>
                <td class="mono">
                    {{ rank.value[2] }} <br>
                    {{ rank.abbreviation[2] }}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="stack">
            <div class="action-container block">
                <a href="{{ path('app.rank.edit_picture', {'id': rank.id}) }}" class="action-item">
                    <span class="icon"><i data-feather="image"></i></span>
                    <span class="text">Modifier l'image</span>
                </a>
                <a href="{{ path('app.rank.edit', {'id': rank.id}) }}" class="action-item">
                    <span class="icon"><i data-feather="edit-2"></i></span>
                    <span class="text">Modifier</span>
                </a>
                {{ include('rank/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
